In [1]:
#1. Create a set with integers from 1 to 5.

#creating an empty set
s = set()

#adding elements to set
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(5)

#printing set elements

print(" set with integers from 1 to 5:",s)

 set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [2]:
#2. Add an element to a set.

#declaring set
s ={1,2,3,4,5}

#adding elements to set

s.add(9)

#printing set values
print("After adding new element set values are:",s)

After adding new element set values are: {1, 2, 3, 4, 5, 9}

In [3]:
#3. Remove an element from a set.

#declaring set
s = {1, 2, 3, 4, 5, 9}

#removing value from set

s.remove(2)

#printing set after removing the value

print("New set vakues are:",s)

New set vakues are: {1, 3, 4, 5, 9}

In [4]:
#4. Check if an element exists in a set.

#declaring set
s = {1, 3, 4, 5, 9}

#initializing and assigning value if the element exits
i = 2

#Using if else statement to determine if the element exists in set
if i in s:
    print("element exists in a set")
else:
    print("element does not exist")

element does not exist

In [5]:
#5. Find the length of a set without using the `len()` function.

#declaring set
s = {1, 3, 4, 5, 9}

#initializing and assigning value to find count
c = 0

#using for loop to determine length of set
for i in s:
    c += 1

#printing length of set
print("Length of set is:",c)

Length of set is: 5

In [6]:
#6. Clear all elements from a set.

#declaring set
s = {1, 3, 4, 5, 9}

#clearing set
s.clear()

#printing set

print("Elements in set after claering set:",s)

Elements in set after claering set: set()

In [7]:
#7. Create a set of even numbers from 1 to 10.

#creating an empty set
s =set()

# using for loop to iterate between 1 and 11
#if number is divisible by 2 then add value to set
for i in range(1,11):
    if i%2 == 0:
        s.add(i)

#printing set values

print("set of even numbers from 1 to 10.",s)

set of even numbers from 1 to 10. {2, 4, 6, 8, 10}

In [8]:
#8. Create a set of odd numbers from 1 to 10.

#creating an empty set
s =set()

# using for loop to iterate between 1 and 11
#if number is not divisible by 2 then add value to set
for i in range(1,11):
    if i%2 != 0:
        s.add(i)

#printing set values

print("set of odd numbers from 1 to 10.",s)

set of odd numbers from 1 to 10. {1, 3, 5, 7, 9}

In [9]:
#9. Find the union of two sets.

#declaring set1 and set2
s1 ={1,2,3}
s2 ={4,5,6}

#using union function to merge two set values
s3 = s1.union(s2)

#printing set
print("union of two sets s1 and s2 are:",s3)

union of two sets s1 and s2 are: {1, 2, 3, 4, 5, 6}

In [10]:
#10. Find the intersection of two sets.

#declaring set1 and set2
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8}

#Using interection function to find commom elements in both the sets
s3 = s1.intersection(s2)

#printing set value
print("intersection values of two sets s1 and s2 are:",s3)

intersection values of two sets s1 and s2 are: {4, 5}

In [11]:
#11. Find the difference between two sets.

#declaring set1 and set2
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8}

#finding the diference between 2 sets
s3 = s1.difference(s2)

#printing the difference values
print("difference between two sets is:",s3)

difference between two sets is: {1, 2, 3}

In [12]:
#12. Check if a set is a subset of another set.

#declaring set1 and set2
s1 ={1,2,3,4,5}
s2 ={1,2,3,4,5,6,7,8}

#checking if set1 is subset of set2
s3 = s1.issubset(s2)

#printing the result
print("Is set1 is subset of set2??:",s3)

Is set1 is subset of set2??: True

In [13]:
#13. Check if a set is a superset of another set.

#declaring set1 and set2
s1 ={1,2,3,4,5}
s2 ={1,2,3,4,5,6,7,8}

#checking if set2 is superset of set1
s3 = s2.issuperset(s1)

print("Is set2 is subset of set1??:",s3)

Is set2 is subset of set1??: True

In [14]:
#14. Create a set from a list.

#creating a list
l= [1,2,3,4,5]

#creating a set from list
s =set(l)
#printing set
print("set cerated from a list is :",s)

set cerated from a list is : {1, 2, 3, 4, 5}

In [15]:
#15. Convert a set to a list.


#creating set
s ={1, 2, 3, 4, 5}

#creating a list from set
l =list(s)

#printing list
print("list cerated from set is :",l)

list cerated from set is : [1, 2, 3, 4, 5]

In [16]:
#16. Remove a random element from a set.

import random

#creating set and converting to list
s =list({1, 2, 3, 4, 5})

#using random choice function to selectrandom number and remove it
random_element = random.choice(s)
s.remove(random_element)
print(set(s))

{1, 3, 4, 5}

In [17]:
#17. Pop an element from a set.

#declaring set
s ={1,2,3,4,5}

#using pop to remove an element from set
s.pop()

#printing the result
print("set values are:",s)

set values are: {2, 3, 4, 5}

In [18]:
#18. Check if two sets have no elements in common.

#defining two sets 
s1 ={1,2,3,4,5}

s2 = {1,'meta'}

#using intersection function to find common elements
s3 = s1.intersection(s2)

#using len function to find if common elements exists or not
if len(s3) == 0:
    print("two sets do not have any elements in common")

else:
    print("two sets have common elements")

two sets have common elements

In [19]:
#19. Find the symmetric difference between two sets.

#defining two sets
s1 = {1,2,3,4,5}

s2 ={5,6,7,8,9}

#using symmetric difference between two sets
s3 =s1.symmetric_difference(s2)

print("Symmetric difference between two sets is:",s3)

Symmetric difference between two sets is: {1, 2, 3, 4, 6, 7, 8, 9}

In [20]:
#20. Update a set with elements from another set.

#defining s1 and s2 sets
s1 ={1,2,3}

s2 = {'python','code','basics'}

#using update function to add elements to another set
s1.update(s2)

#printing the result
print("Updated set values are:",s1)

Updated set values are: {'code', 1, 2, 3, 'python', 'basics'}

In [21]:
#21. Create a set of the first 5 prime numbers.

s =set()

# Function to check if a number is prime
def primenum(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(s) < 5:
    # Check if the current number is prime using the is_prime function
    if primenum(num):
        # If the number is prime, add it to the prime_set
        s.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", s)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [22]:
#22. Check if two sets are identical.

#Defining two sets
s1 ={1,2,3,4}

s2 ={4,5,6,7}

#Using if condition to compare sets
if s1 == s2:
    print("two sets are identical")

else:
    print("two sets are not identical")

two sets are not identical

In [23]:
#23. Create a frozen set.

#defining elements in the list to make a frozen set
l=[1,2,3,4,5]

#Using frozenset constructor to make a frozen set
f = frozenset(l)

#printing frozenset
print(f)

frozenset({1, 2, 3, 4, 5})

In [24]:
#24. Check if a set is disjoint with another set.

#Defining sets
s1 ={1,2,3,4}
s2 = {5,6,7,8}

#Using isdisjoint method to find if the two sets have any intersection
s3 =s1.isdisjoint(s2)

#printing the result
print(s3)

True

In [25]:
#25. Create a set of squares of numbers from 1 to 5.

#creating an empty set
s =set()
#using loop to itearate through each number and add the squares of the number
for i in range(1,6):
    i = i**2
    s.add(i)
#printing set values
print("set of squares of numbers from 1 to 5:",s)

set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

In [26]:
#26. Filter out all even numbers from a set.

#defining set
s ={1,2,3,4,5,6,7,8,9}
#defining an empty set
even_set =set()

#using for loop to iterate to filter even numbers
for i in s:

    if i%2==0:
        even_set.add(i)
#printing set with even numbers
print("set with even numbers:",even_set)

set with even numbers: {8, 2, 4, 6}

In [27]:
#27. Multiply all elements in a set by 2.

#defining a set
s ={1,2,3,4,5}
#declaring a new set
new_set =set()

#Using for loop to iterate set values and multiply by 2 
#adding multiplied values to new set
for i in s:
    i = i*2
    new_set.add(i)

#printing the result
print("Set values multiplied by 2 are:",new_set)

Set values multiplied by 2 are: {2, 4, 6, 8, 10}

In [28]:
#28. Create a set of random numbers.

#importing random function

import random

#defining a empty set 
s = set()
#using loop to generate random numbers
for i in range(1, 15):
     
    y = random.randrange(12)
    s.add(y)

print("Set with randomvalues are:",s)

Set with randomvalues are: {1, 2, 3, 6, 7, 8, 11}

In [29]:
#29. Check if a set is empty.

s = {1,2,3}

if len(s) == 0:
    print("Set is empty")

else:
    print("set is not empty")

set is not empty

In [30]:
#30. Create a nested set (hint: use frozenset).

#defining two sets
s1 = {1,2,3,}
s2 = {4,5,6}

#converting them to frozen sets to create nested set
fs1 = frozenset(s1)
fs2 = frozenset(s2)

#creating a nested set by assigning frozen set values
nested_set = {frozenset(s1),frozenset(s2)}

#printing nested set values
print("Nested set :",nested_set)

Nested set : {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [31]:
#31. Remove an element from a set using the discard method.

#defining set
s={1,2,3,4,5}

#using disacrd method to remove an element from set
s.discard(4)

#printing set values
print("Set values after disacarding a value:",s)

Set values after disacarding a value: {1, 2, 3, 5}

In [32]:
#32. Compare two sets.

#defining two sets
s1 = {1,2,3}
s2 = {4,5,6}

#checking if one set is subset of another
s_subset = s1.issubset(s2)
print("Is set2 is subset of set1:",s_subset)

#checking if one set is superset of another
s_superset = s1.issuperset(s2)
print("Is set1 is superset of set2:",s_superset)
      
#Checking intersection method on sets
s_intersection = s1.intersection(s2)
print("Intersection values between s1 and s2:",s_intersection)

#Applying Union method on set values
s_union = s1.union(s2)
print("Union values between s1 and s2 are:",s_union)

#Checking difference between set1 and set2
s_difference1 = s1.difference(s2)
print("difference between set1 and set2 is:",s_difference1)


#Checking difference between set2 and set1
s_difference2 = s2.difference(s1)
print("difference between set1 and set2 is:",s_difference2)


#Checking symmetric difference between set1 and set2
s_symmetricdifference = s1.symmetric_difference(s2)
print("difference between set1 and set2 is:",s_symmetricdifference)

Is set2 is subset of set1: False
Is set1 is superset of set2: False
Intersection values between s1 and s2: set()
Union values between s1 and s2 are: {1, 2, 3, 4, 5, 6}
difference between set1 and set2 is: {1, 2, 3}
difference between set1 and set2 is: {4, 5, 6}
difference between set1 and set2 is: {1, 2, 3, 4, 5, 6}

In [33]:
#33. Create a set from a string.

#declaring an empty set
s =set()

#declaring a string
str1 = "string"

#printing set
print("set created from a string is:",set(str1))

set created from a string is: {'g', 'i', 'n', 't', 's', 'r'}

In [34]:
#34. Convert a set of strings to a set of integers.

#defining set of strings
string_set ={"123","456","789"}

#defining empty set
integer_set = set()

#iterating all elements to convert elements from string to integer
for i in string_set:
    #
    str_int = int(i)
    integer_set.add(str_int)

#printing set of integers
print("set of strings converted to  set of integers",integer_set)

set of strings converted to  set of integers {456, 123, 789}

In [35]:
#35. Convert a set of integers to a set of strings.

#defining set of integers
integer_set ={123,456,789}

#defining empty set
string_set = set()

#iterating all elements to convert elements from string to integer
for i in integer_set:
    #
    str_int = str(i)
    string_set.add(str_int)

#printing set of integers
print("set of integers converted to  set of strings",string_set)

set of integers converted to  set of strings {'789', '456', '123'}

In [36]:
#36. Create a set from a tuple.

#defining tuple
t =(1,2,3,4,5)

#Using set constructor to convert to set from tuple
s =set(t)

#printing set
print("set created from tuple is",s)

set created from tuple is {1, 2, 3, 4, 5}

In [37]:
#37. Convert a set to a tuple.

#defining set
s = {1,2,3,4,5}

#Using tuple constructor to convert to tuple from set
t =tuple(s)

#printing tuple
print("tuple created from set is",t)

tuple created from set is (1, 2, 3, 4, 5)

In [38]:
#38. Find the maximum value in a set.

#defining set
s= {1,3,4,2,6,4}

#using max functionto maximum value in set
print("maximum value in a set is:",max(s))

maximum value in a set is: 6

In [39]:
#39. Find the minimum value in a set.

#defining set
s= {1,3,4,2,6,4}

#using min functionto minimum value in set
print("minimum value in a set is:",min(s))

minimum value in a set is: 1

In [5]:
#40. Create a set from user input.

#defining empty set
s = set()

#Using while loop to take input from user and add data to set
while len(s)<3:
    n = input("enter number to create a set")
    s.add(n)

print("Set created from user",s)

enter number to create a set 1
enter number to create a set 2
enter number to create a set 3

Set created from user {1, 2, 3}

In [6]:
#41. Check if the intersection of two sets is empty.

#defining sets
s1 ={1,2,3,4,5}
s2={3,4,5,6,7}

#Using Intersection method to find common elements
s3 = s1.intersection(s2)

#checking if the intesection of sets is not empty

if len(s3)==0:
    print("Intersection between two sets is empty")

else:
    print("Intersection between two sets is not empty")

Intersection between two sets is not empty

In [8]:
#42. Create a set of the first 5 Fibonacci numbers.

#defining two variable and assigning values

a,b = 0,1

#defining an empty set to add generated numbers
fib_set =set()

#Asking the user to enter a number
n= int(input("Enter number to generate fibonacci series"))

#Using for loop to generate a set of first five fibonacci numbers
for i in range(n):
    #adding first number to set
    fib_set.add(a)
    #assigning values to generate next fibonacci number
    a,b = b,a+b

print("set of the first 5 Fibonacci numbers are:",fib_set)

Enter number to generate fibonacci series 6

set of the first 5 Fibonacci numbers are: {0, 1, 2, 3, 5}

In [9]:
#43. Remove duplicates from a list using sets.

#Defining list with duplicate values
list1 = [1,2,4,3,5,2,4,2,7,9,1,4]

#Using set constructor to convert to set as it does not allow duplicates
Set1 = set(list1)

#printing list values after removing duplicates
print("List after removing duplicates using set is:",list(Set1))

List after removing duplicates using set is: [1, 2, 3, 4, 5, 7, 9]

In [10]:
#44. Check if two sets have the same elements, regardless of their count.

#defining two sets
set1 = {1,2,3,4,5}
set2 = {1,2,3}

set3 = set2.issubset(set1)

if set3 =='True':
    print("two sets have the same elements, regardless of their count")

else: 
    print("two sets do not have the same elements, regardless of their count")

two sets do not have the same elements, regardless of their count

In [11]:
#45. Create a set of the first `n` powers of 2.

#defining a set
power_set = set()

#Asking user to give input
n = int(input("Enter a number"))

#Using for loop to generate first n poers of 2
for i in range(1,n+1):
    #Generating power of 2 and adding to set
    i = i**2
    power_set.add(i)

#printing the result
print("set of the first `n` powers of 2 are :",power_set)

Enter a number 5

set of the first `n` powers of 2 are : {1, 4, 9, 16, 25}

In [12]:
#46. Find the common elements between a set and a list.

#Defining List and Set

List1 = [1,2,3,4,5,6]
set1 = {1,2,3}

#Using intersection methos to find common elements between list and set
new_set = set1.intersection(set(list1))

print("common elements between a set and a list are:",new_set)

common elements between a set and a list are: {1, 2, 3}

In [13]:
#47. Create a set of the first `n` triangular numbers.

#Asking user to enter a number 
n = int(input("Enter a number"))

#Defining an empty set
Traingular_set = set()

#using loop to iterate through 'n' numbers to generate traingular numbers
for i in range(1,n+1):
    #formula to caluculate traingular numbers is tn(n) = n(n+1)//2
    i = i*(i+1)//2
    #adding the numbers to set
    Traingular_set.add(i)

#printing the set values with traingular numbers
print("set of the first `n` triangular numbers are:",Traingular_set)

Enter a number 6

set of the first `n` triangular numbers are: {1, 3, 6, 10, 15, 21}

In [14]:
#48. Check if a set contains another set as a subset.

#defining two sets
set1 = {1,2,3,4,5}
set2 = {1,2,3}

set3 = set2.issubset(set1)

if set3 :
    print("set contains another set as a subset")

else: 
    print("set does not contains another set as a subset")

set contains another set as a subset

In [15]:
#49. Create a set of alternating 1s and 0s of length `n`.

#defining an empty set    
alternate_set = set()

#using loop to generate a set of0's and 1's
for i in range(n):
    if i%2 == 0:
        alternate_set.add(1)
    else:
        alternate_set.add(0)
    
n =10  

#printing set of o's and 1's
print("set of alternating 1s and 0s of length `n`are:",alternate_set)

set of alternating 1s and 0s of length `n`are: {0, 1}

In [16]:
#50. Merge multiple sets into one.

#defining multiple sets
set1 ={1,2,3}
set2 ={4,5,6}
set3 ={7,8,9}

#Using union method to merge all sets
union_set = set1.union(set2,set3)

#printing merged set values
print("merged set:",union_set)

merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}