In [4]:
#1. Create a tuple with integers from 1 to 5.

#defining empty list
l=[]
#generating numbers
for i in range(5):
    i = i + 1
    l.append(i)
    #converting from list to tuple
t = tuple(l)
print("Tuple elements are:",t)

Tuple elements are: (1, 2, 3, 4, 5)

In [13]:
#2. Access the third element of a tuple.

t =(1,2,3,4,5,6)

#Accessing the third element of a tuple using index
print("Third element of tuple is",t[3])

Third element of tuple is 4

In [4]:
#3.Find the length of a tuple without using the `len()` function.

t = (56,78,91,32,54,43,65,76,87)

#Initializing count variable to '0',
count = 0

#Iterating all elements in tuple,
for i in t:
    
    #Incrementing value of count for each itearation.
    count += 1
    
print("Number of elements i tuple are",count)

Number of elements i tuple are 9

In [5]:
#4. Count the occurrences of an element in a tuple.

t = (1,2,3,4,5,3,2,3,3)

e = t.count(3)
print("the occurrences of an element in a tuple",e)

the occurrences of an element in a tuple 4

In [3]:
#5. Find the index of the first occurrence of an element in a tuple.

t = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

#using index function to find first occurence
f = t.index(8)
print("index of the first occurrence of an element in a tuple",f)

index of the first occurrence of an element in a tuple 3

In [6]:
#6. Check if an element exists in a tuple.

t = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

#asking user to enter a number
n = int(input("Enter the number"))

#checking if number exist in tuple
if n in t:
    print("Number exists in tuple")
else:
    print("Number does not exists in tuple")

Enter the number 7

Number exists in tuple

In [7]:
#7. Convert a tuple to a list.

t = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

#converting tuple to list using typecasting 
my_list = list(t)

print("list converted from tuple is ",my_list)

list converted from tuple is  [1, 3, 7, 8, 7, 5, 4, 6, 8, 5]

In [8]:
#8. Convert a list to a tuple.

l = [1, 3, 7, 8, 7, 5, 4, 6, 8, 5]

#converting list to tuple 
t= tuple(l)
print("Tuple value are",t)

Tuple value are (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [9]:
#9. Unpack the elements of a tuple into variables.

#Packing values of tuples into a variable
t= ('data science','bigdata','Power BI')

#unpacking values of tuple into variables
(course1,course2,course3) = t

#printing course1
print(course1)

#printing course2
print(course2)

#printing course3
print(course3)

data science
bigdata
Power BI

In [10]:
#10. Create a tuple of even numbers from 1 to 10.

t =(1,2,3,4,5,6,7,8,9,10)

#converting tuple to list
l=list(t)

#declaring empty list to store even values
l1 =[]

for i in l:
    
    #if number is divisible by 2 then add the value to list
    if i%2 == 0:
        l1.append(i)

#converting list to tuple
t = tuple(l1)

print("tuple with even numbers is ",t)

tuple with even numbers is  (2, 4, 6, 8, 10)

In [11]:
#11. Create a tuple of odd numbers from 1 to 10.

t =(1,2,3,4,5,6,7,8,9,10)

#converting tuple to list
l=list(t)

#declaring empty list to store odd values
l1 =[]

for i in l:
    
    #if number is not divisible by 2 then add the value to list
    if i%2 != 0:
        l1.append(i)

#converting list to tuple
t = tuple(l1)

print("tuple with odd numbers is ",t)

tuple with odd numbers is  (1, 3, 5, 7, 9)

In [12]:
#12. Concatenate two tuples

#Declaring tuple1
t = ('Tuple','with','odd')

#Declaring tuple1
t1 = ('numbers',)

#Concatenate two tuples
t2 = t + t1

print("Result of concatenating of two tuple",t2)

Result of concatenating of two tuple ('Tuple', 'with', 'odd', 'numbers')

In [13]:
#13. Repeat a tuple three times.

t = (2,4,5)

#Printing original data
print("Original tuple vaues are:",t)

#Repeating tuple 3 toimes with * operator
t1 = t * 3

print("Tuple values after repeating it for 3 times",t1)

Original tuple vaues are: (2, 4, 5)
Tuple values after repeating it for 3 times (2, 4, 5, 2, 4, 5, 2, 4, 5)

In [14]:
#14. Check if a tuple is empty.

t = ()

# checking length of tuple 
if len(t) == 0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

In [15]:
#15. Create a nested tuple.

#declaring tuple t1
t1 = (1,2)

##declaring tuple t2
t2 = (5,6)

print("Tuple 1 values are",t1)

print("Tuple 2 values are",t2)

#concatenating two tuples to create a nested tuple
t = (t1,)+(t2,)

print("Concatenated tuple is",t)

Tuple 1 values are (1, 2)
Tuple 2 values are (5, 6)
Concatenated tuple is ((1, 2), (5, 6))

In [16]:
#16. Access the first element of a nested tuple.

#creating a nested tuple
t = ((1, 2), (5, 6),('abc','fgh'))

#Retreiving first element in nested tuple by using index

print("First element of a nested tuple is",t[0])

First element of a nested tuple is (1, 2)

In [17]:
#17. Create a tuple with a single element.

#Creating a tuple with a single element.
t = ('Tuple',)

#Tuple with single element 
print("Tuple with single element is",t)

Tuple with single element is ('Tuple',)

In [19]:
#18.Compare two tuples.

#First tuple elements 
t1 = (10,20,30)

#Second tuple elements
t2 = (12,23,14)

#comparing two tuples
if t1 > t2:
    print("tuple1 values are greater than tuple2")

else:
    print("tuple2 values are greater than tuple1")

tuple2 values are greater than tuple1

In [20]:
#19. Delete a tuple.

#created tuple 
t = (3,4,5)

#using del keyword to delete tuple values
del t

#trying to print values in tuple(it throws error as tuple is deleted)
print(t)

NameError: name 't' is not defined

In [21]:
#20. Slice a tuple.

t = (2, 4, 5, 2, 4, 5, 2, 4, 5)

#Using slice function to slice a tuple from index 2,5
s = slice(2,5)

print("Sliced values of tuple are",t[s])

Sliced values of tuple are (5, 2, 4)

In [22]:
#21. Find the maximum value in a tuple.

t = (3,5,4,8,9)

#Printing maximum value in tuple by using Max() function
print("Maximum value in tuple is",max(t))

Maximum value in tuple is 9

In [23]:
#22. Find the minimum value in a tuple.

t = (3,5,4,8,9)

#Printing minimum value in tuple by using Min() function
print("Minimum value in tuple is",min(t))

Minimum value in tuple is 3

In [24]:
#23. Convert a string to a tuple of characters.

#Create a String
str1 = "Love Yourself"

#Converting string to tuple 
t = tuple(str1)

#printing tuple values
print("Tuple values converted from string are",t)

Tuple values converted from string are ('L', 'o', 'v', 'e', ' ', 'Y', 'o', 'u', 'r', 's', 'e', 'l', 'f')

In [25]:
#24. Convert a tuple of characters to a string.

#create a tuple
t = ('L', 'o', 'v', 'e', ' ', 'Y', 'o', 'u', 'r', 's', 'e', 'l', 'f') 

#converting tuple to string
str1 = "".join(t)

#printing String values
print("String formed by tuple values is ",str1)

String formed by tuple values is  Love Yourself

In [26]:
#25. Create a tuple from multiple data types.

#creating a tuple with multiple data types
t = (1,2,'Work','data',91.9)

#Printing tuple values
print("Tuple with multiple data types",t)

Tuple with multiple data types (1, 2, 'Work', 'data', 91.9)

In [27]:
#26. Check if two tuples are identical.

#declaring two tuples
t1 =(1,2,3,4,5)

t2 =(6,7,8,9,10)

#checking both the tuples have same data
if t1 == t2:
    print("Both the tuples are identical")
else:
     print("Both the tuples are not identical")

Both the tuples are not identical

In [28]:
#27.Sort the elements of a tuple.

#creating tuple
tup = (2,12,6,23,4,45,67,78,56,89)

#printing original tuple
print("Original tuple values are",tup)

#converting tuple to list
my_list = list(tup)

#sorting list elemnets
my_list.sort()

#converting back again to tuple 
tup = tuple(my_list)

#Printing sorted tuple values
print("Sorted tuple values are",tup)

Original tuple values are (2, 12, 6, 23, 4, 45, 67, 78, 56, 89)
Sorted tuple values are (2, 4, 6, 12, 23, 45, 56, 67, 78, 89)

In [29]:
#28. Convert a tuple of integers to a tuple of strings.

#creating tuple
tup = (4,5,6,1,2)

#Using list comprehension to convert integers to string
x = (str(i) for i in tup)

#priting tuple of string values
print("Converted tuple of integers to a tuple of strings are",tuple(x))

Converted tuple of integers to a tuple of strings are ('4', '5', '6', '1', '2')

In [30]:
#29. Convert a tuple of strings to a tuple of integers.

##creating tuple
tup = ('4', '5', '6', '1', '2')

#Using list comprehension to convert string to integers
x = (int(i) for i in tup)

#priting tuple of integer values
print("Converted tuple of string to a tuple of integers are",tuple(x))

Converted tuple of string to a tuple of integers are (4, 5, 6, 1, 2)

In [31]:
#30. Merge two tuples.

#creating a tuple1
tup1 = (1,2,3)

##creating a tuple2
tup2 = ('lets','go')

#merging two tuples using concatenating operator
tup = tup1 + tup2

print("Merged tuple values are",tup)

Merged tuple values are (1, 2, 3, 'lets', 'go')

In [1]:
#31. Flatten a nested tuple.

# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [33]:
#32. Create a tuple of the first 5 prime numbers.

#Creating an empty list
l =[]

#asking user to enter the number
number = int(input("Prime numbers between 2 and "))

#iterating numbers to find prime numbers
for num in range(2,number + 1):
       if num > 1:
            for i in range(2,num):
                if (num % i) == 0:
                     break
            else:
                l.append(num)

print("Tuple with first five numbers is",tuple(l))

Prime numbers between 2 and  13

Tuple with first five numbers is (2, 3, 5, 7, 11, 13)

In [34]:
#33. Check if a tuple is a palindrome.

#declaring a tuple
tup = ("level",)

#converting tuple to list
my_list = list(tup)

#using slicing technique to reverse the data and reconverting to tuple
l1 = my_list[::-1]
tup1 = tuple(l1)

#Checking if both the values are equal
if tup == tup1:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Tuple is palindrome

In [35]:
#34. Create a tuple of squares of numbers from 1 to 5.

#Using list comprehension method to generate squares of numbers
x = (i**2 for i in range(1,6))

#printing squares of numbers from 1 to 5
print("tuple of squares of numbers from 1 to 5",tuple(x))

tuple of squares of numbers from 1 to 5 (1, 4, 9, 16, 25)

In [36]:
#35. Filter out all even numbers from a tuple.

#creating tuple
t= (1,2,3,4,5,6,7,8,9,10)

#converting tuple to list
my_list = list(t)

#creating an empty list to add even numbers
l =[]

#iterating through list and appending to list
for i in my_list:
    if i%2 == 0:
        l.append(i)

#printing tuple with even numbers
print("Even numbers in the original tuple are ",tuple(l))

Even numbers in the original tuple are  (2, 4, 6, 8, 10)

In [37]:
#36. Multiply all elements in a tuple by 2.

#creating an tuple
t = (1,2,3,4,5)

#using list comprehension to multiply all elements by 2
x = (i *2 for i in t)

#printing tuple elements
print("tuple elements multiplied by 2 are",tuple(x))

tuple elements multiplied by 2 are (2, 4, 6, 8, 10)

In [38]:
#37. Create a tuple of random numbers.

import random 

#calling random function to generate random numbers
x = tuple(random.randint(1,50) for _ in range(10))

#Printing the data
print("Tuple of random numbers is ",x)

Tuple of random numbers is  (40, 46, 46, 38, 22, 16, 1, 15, 16, 40)

In [39]:
#38. Check if a tuple is sorted.

# create a tuple
t = (1, 2, 3, 4, 5)

# check if tuple is sorted
if t == tuple(sorted(t)):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is sorted

In [40]:
#39. Rotate a tuple to the left by `n` positions.

#create a tuple
t1= (1,2,3,4,5)

#creating a function to do left rotation
def left_rotate(t,n):

    rotate_tuple = t[n:] + t[:n]
    return rotate_tuple

#calling function
tup = left_rotate(t1,2)
print("Rotated Tuple :",tup)

Rotated Tuple : (3, 4, 5, 1, 2)

In [41]:
#40. Rotate a tuple to the right by `n` positions.

#create a tuple
t1= (1,2,3,4,5)

#creating a function to do right rotation
def right_rotate(t,n):

    rotate_tuple = t[-n:] + t[:-n]
    return rotate_tuple

#calling function
tup = right_rotate(t1,2)
print("Rotated Tuple :",tup)

Rotated Tuple : (4, 5, 1, 2, 3)

In [42]:
#41. Create a tuple of the first 5 Fibonacci numbers.

#Creating an empty list
l1 =[]

#Defining function to generate first five fibonacci numbers
def five_fib(n):
    if n == 1:
        return 1
    elif n == 2:
        return 1
    else:
        #calling recursive function
        return five_fib(n-1)+five_fib(n-2)
        
n =6
for i in range(1,n):
#calling function and appending values to list
    t= five_fib(i)
    l1.append(t)
print(tuple(l1))

(1, 1, 2, 3, 5)

In [43]:
#42. Create a tuple from user input.

#Asking user to enter the data
values = input("Enter the values seperated by comma:")

#using split function to split the data
input_values = values.split(",")

#converting data into tuple
tuple_values = tuple(input_values)

#printing the data
print("Tuple Values are ",tuple_values)

Enter the values seperated by comma: 1,2,3,4,5

Tuple Values are  ('1', '2', '3', '4', '5')

In [44]:
#43. Swap two elements in a tuple.

my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
#Using list comprehension to create a new tuple and checking if values are equal to indexes then values are swapped
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [45]:
#44. Reverse the elements of a tuple.

#creating an tuple
t =(6,4,7,3,8)

#Using Slicing method to reverse tuple 
tup1 = t[::-1]

#printing tuple
print("Reversed tuple elements are:",tup1)

Reversed tuple elements are: (8, 3, 7, 4, 6)

In [46]:
#45. Create a tuple of the first `n` powers of 2.

#creating an empty list
l = []
#Using for loop and generating powers of 2 and appending to list
for i in range (1,6):
    i = 2**i
    l.append(i)

#printing values by typecating to tuple
print("tuple of the first `n` powers of 2 :", tuple(l))

tuple of the first `n` powers of 2 : (2, 4, 8, 16, 32)

In [47]:
#46. Find the longest string in a tuple of strings.

#Declaring an tuple 
t = ('python','bigdata','datascience')

#Using max function to find longest string
longest_string = max(t,key=len)

#printing the longest string
print("longest string in a tuple of strings:",longest_string)

longest string in a tuple of strings: datascience

In [48]:
#47. Find the shortest string in a tuple of strings.

#Declaring an tuple
t = ('python','bigdata','datascience')

#Using min function to find shortest string
shortest_string = min(t,key=len)

#printing the shortest string
print("shortest string in a tuple of strings :",shortest_string)

shortest string in a tuple of strings : python

In [49]:
#48. Create a tuple of the first `n` triangular numbers.

#asking the user to enter a number
n = int(input("enter the number :"))

#Using List comprehension to generate traingular numbers
traingular_numbers = tuple((i*(i+1)//2 ) for i in range(1,n+1))

#printing the traingular numbers
print("tuple of the first `n` triangular numbers:",traingular_numbers)

enter the number : 12

tuple of the first `n` triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78)

In [50]:
#49. Check if a tuple contains another tuple as a subsequence.

#declaring tuples
tup1 = (1,2,3,4,5,8,9)
tup2 = (4,5,8)

#Initializing variable and assigning value
c =0

#Iterating through the tup1 and checking if elements exits in tup2
#if element exits incrementing the count of c
for i in tup1:
    if i in tup2:
        c += 1

#if the length of tup2 is equal to count tuple has subsequence
if len(tup2) == c:
    print("tuple contains another tuple as a subsequence")
else :
    print("tuple does not contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

In [51]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

#declarirng the length of n
n =15

#Generating tuple using list comprehension
alternating_tuple = tuple(i%2 for i in range(n))

#Printing tuple
print("tuple of alternating 1s and 0s of length `n' :",alternating_tuple)

tuple of alternating 1s and 0s of length `n' : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)